.detail-container {
  padding: 20px;
  background-color: #79dcf1;
}

.detail-heading {
  font-family: 'Chewy', sans-serif;
}

.img-container {
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.detail-img {
  height: 100%;
  width: 100%;
}
